

nav {
    background-color: white;
}

.welcome {
   
        font-family: "rubik";   /*Can be any text*/
        src: local("RubikDistressed-Regular"),
          url("../../Fonts/RubikDistressed-Regular.ttf") format("truetype");
        font-size: xx-large;
        color:#2a9fd6;
        text-shadow: 1px 1px 3px black, 1px -1px 1px black, -1px 1px 1px black, -1px -1px 1px black;


               
      
}